html {
  height: 100%;
}
/* .App {
  text-align: center;
  width: 100%;
  height: 100%;
} */
/* .pageContainer {
  position: absolute;
  width: 100%;
  height: 100%;
} */

.cesiumContainer {
  position: absolute;
  width: calc(100% - 208px); /* 160 (left menu/drawer) - 24 x 2 (left, right padding) */
  height: calc(100% - 110px);
}

.cesiumContainer > div {
  height: 100%;
}

.toolbar-left {
  /* display: block; */
  position: absolute;
  top: 10px;
  left: 10px;
  /* height: 100px; */
  padding: 7px;
  border-radius: 7px;
  background-color: rgba(222, 132, 245, 0.9);
}

/* .history-legend {
} */

@media only screen and (max-width: 599px) {
  .cesiumContainer {
    position: absolute;
    width: calc(100% - 48px); /* 160 (left menu/drawer) - 24 x 2 (left, right padding) */
    height: calc(100% - 110px);
  }
  .history-legend {
    display: none;
  }
}

h1 {
  color: black;
}

.MuiList-root a {
  color: inherit;
  text-decoration: none; /* remove the under line for links */
}

/* "><span class="MuiTypography-root MuiListItemText-primary MuiTypography-body1 MuiTypography-displayBlock">Home</span></div> */

/* .cesiumContainer {
  width: 100%;
  height: 85vh;
}
.cesiumContainer > div {
  height: 100%;
} */

/* .App {
  text-align: center;
}

h1 {
  color: black;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
